.journal{
    background:#eaeaea;
    border: 1px solid rgba(0,0,0,0.25);
    width:800px;
    padding:40px;
    margin:40px;
}
h3 span{
    color:#b92d80;
}
h3{
    font-family:'Open Sans', sans-serif;
    font-size:24px;
    margin-bottom:20px;
    margin-top:0;
}
form.pending{
    opacity: 0.5;
}
.journal button{
    font-size:24px;
    padding:10px;
    border:1px solid rgba(0,0,0,0.1);
}
